/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */



.obutton {
  display: inline-block;
  padding: 10px 30px;
  background-color: #F2EfE8;
  color: #595A5C;
  text-decoration: none;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
  margin-top: 20px;
}

.obutton:hover {
  background-color: #595A5C;
  color: #F2EfE8;
}

.description {

}

.description p:first-child {
  font-size: 18px;
}

image {
  display: inline-block;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

  .obutton {
    padding: 20px 50px;
    font-size: 1.2em;
    margin-right: 20px;
  }

  image {
    margin-top: 10px;
    height: 400px;
    background-size: contain;
  }

  h3 {
    margin-top: 0px;
  }

}

@media screen and (max-width: 768px) {

  .obutton {
    display: block;
    margin-right: 0px;
  }

  image {
    margin-top: 10px;
    height: 200px;
    background-size: cover;
  }

}