h4 {
  margin: 20px 5px;
  float: left;
}

h6 {
  float: right;
  font-weight: 300 !important;
}

hr {
  margin: 20px 5px;
  clear: both;
}

.answers {
  
}

@media screen and (max-width: 1024px) {

  h6 {
    display: none;
  }

  .answers {
    text-align: center;
  }

}