/**
 * React Static Boilerplate
 * https://github.com/kriasoft/react-static-boilerplate
 *
 * Copyright © 2015-present Kriasoft, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.content {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.content > div {
  width: 50%;
  padding: 20px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}


.content>div>img {
  width: 100% 
}


@media screen and (max-width: 1024px) {

  .content {
    width: auto;
  }

  .content > div {
    width: 100%;
  }

  .content > article {
    width: 100%;
  }

}