.answer {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  position: relative;
  cursor: pointer;
}

.answer input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
  cursor: pointer;
}

.answer div {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */
  // visibility: hidden;
  background-color: rgba(0,0,0,.6);
  color: rgba(255,255,255,1);
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
}

.active div {
  compose: answer;
  // visibility: visible;
  opacity: 1;
}

.answer div:hover {
  // visibility: visible;
  opacity: 1;
}

.answer image {
  display: inline-block;
  width: 240px;
  height: 180px;
  background-size: cover;
  cursor: pointer;
  float: left;
}

@media screen and (max-width: 1024px) {

}