/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.obutton {
  display: inline-block;
  padding: 10px 30px;
  background-color: #F2EfE8;
  color: #595A5C;
  text-decoration: none;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
  float: left;
  margin-top: 20px;
  margin-left: 5px;
}

.obutton:hover {
  background-color: #595A5C;
  color: #F2EfE8;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    display: block;
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* Black fallback color */
    background-color: rgba(255,255,255, .95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.ocontent {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.ocontent h4 {
  float: none;
}

.ocontent h4 span {
  font-size: 14px;
  line-height: 14px;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-width: 1024px) {

  .obutton {
    float: none;
    display: block;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

  .obutton {
    padding: 20px 50px;
    font-size: 1.2em;
  }

}

@media screen and (max-width: 768px) {

  .obutton {
    display: block;
    margin-right: 0px;
  }

}