/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

.first {
  font-size: 18px;
}

.obutton {
  display: inline-block;
  padding: 10px 30px;
  background-color: #F2EfE8;
  color: #595A5C;
  text-decoration: none;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
}

.obutton:hover {
  background-color: #595A5C;
  color: #F2EfE8;
}

@media screen and (max-width: 1024px) {

  .content {
    padding: 0 16px;
  }

  .obutton {
    padding: 20px 50px;
    font-size: 1.2em;
  }

}

@media screen and (max-width: 768px) {

  .obutton {
    display: block;
    margin-right: 0px;
  }

}